.recipeCard-heading {
    position: relative;
    text-align: center;
    margin-top: 3rem;
}


// .pagination-buttons {
//     display: flex;
//     justify-content: center;
//     margin: 30px;

//     .page-button {
//         margin-left: 10px;
//         margin-right: 10px;
//     }
// }

.see-more-button {
    display: flex;
    justify-content: center;
    margin: 30px;
}