/* -- 02 COLORS 

Primary: #e67e22

- Tints:
#fdf2e9
#fae5d3
- Shades:
#45260a
- Accents: 
- Greys: 
#888
#767676   <--- lightest grey allowed on white
#6f6f6f     <--- lightest grey allowed on fdf2e9
#555
#333 */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
